body{
    font-family: 'Itim', cursive;
}

.Main_Pic{

    background:url(https://i.pinimg.com/originals/be/cd/f0/becdf045c365c9cfd71624dd270e3e7d.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    color: white;

}

.circular--landscpae{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscpae img {
    width: auto; height: 100%;
    margin-left: -50px;
}